{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}
<div id="plot">
</div>
<nav class="panel is-info has-background-white">
  <p class="panel-heading">
    Panel Użytkownika
  </p>
  <a class="panel-block">
    Hej {{user.email}}! Miło cię widzieć!
  </a>
  <a class="panel-block">
    Twoja ilość punktów: {{score}}
  </a>
  <a class="panel-block">
    {{used_tokens_count}} razy skasowałeś QR kod w tym miesiącu
  </a>
  <a class="panel-block">
    Dzięki Tobie zaoszczędziliśmy milion litrów benzyny <3
  </a>
</nav>

<div class="link-home">
  <a href="/prizes">Atrakcyjne Nagrody</a>
  <a href="/logout">Wyloguj się</a>
</div>

<script>
  var data = [
  {
    x: ['październik', 'listopad', 'grudzień'],
    y: [2000, 1400, 2300],
    type: 'bar',
    marker: {
      color: '#fcd667',
    },
  }
];

var layout = {
  title: 'Punkty wszystkich użytkowników',
  paper_bgcolor: 'rgba(0,0,0,0)',
  plot_bgcolor: 'rgba(0,0,0,0)',
  showlegend: false,
  height: 300,
};

var options = {
  displayModeBar: false,
  scrollZoom: false,
  staticPlot: true
}

Plotly.newPlot('plot', data, layout, options);
</script>
{% endblock %}